body { /*основной шрифт*/
	font-family: 'Ubuntu', sans-serif;
	color: #000;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 900;
}

p {
	line-height: 1.65em;
}

.container {
	width: 1170px;
	margin: 0 auto; /*центрирование элементов внутри родителя*/
}

.header {
	background: rgba(77,192,254,1);
	background: -moz-linear-gradient(left, rgba(77,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(77,192,254,1)), color-stop(100%, rgba(55,144,217,1)));
	background: -webkit-linear-gradient(left, rgba(77,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -o-linear-gradient(left, rgba(77,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -ms-linear-gradient(left, rgba(77,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: linear-gradient(to right, rgba(77,192,254,1) 0%, rgba(55,144,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dc0fe', endColorstr='#3790d9', GradientType=1 );
	padding-top: 62px;
	padding-bottom: 144px;
	color: #fff;
}
	
.wrapper {
	display: flex;
	justify-content: space-between; /*картинка прилегает к краю контейнера, а между деталями имеются пробелы*/
}

.offer {
	margin-top: 155px;
	width: 570px;
}

.title {
	font-size: 36px;
}

.title span {
	font-size: 59px;
}

.intro {
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 45px;
	width: 410px;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	background: #ffd429;
	color: #000000;
	/*border-radius: 100px; закругляет углы*/
	display: block;
	padding: 19px 0;
	text-align: center;
	text-decoration: none; /*убирает подчеркивание ссылки*/
	transition: all 0.5s ease; /*анимация */ 
}

.btn:hover {
	background: #f5c242;
}

.topdesk {
	margin-top: 50px;
}

.learn {
	padding: 110px 0px 120px;
}

.section-title {
	font-size: 30px;
	text-align: center;
}

.future {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	text-align: center;
}

.time {
	width: 300px;
	background: url('../img/icon1.jpg') no-repeat top center;
	padding-top: 90px;
}

.time-title {
	font-size: 20px;
}

.time-text {
	margin-top: 10px;
}

.treveling {
	width: 265px;
	background: url('../img/icon2.jpg') no-repeat top center;
}

.value {
	background: url('../img/icon3.jpg') no-repeat top center;
}

.mail {
	background: #ecf3f8;
	padding: 110px 0px 102px;
}

.form {
	width: 340px;
	margin: 0 auto;
    margin-top: 55px;   
}

.input {
	width: 340px;
	border: 1px solid #bbbbbb;
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
	height: 48px;
	padding-left: 25px;
	margin-top: 10px;
}

.btn-form {
	width: 340px;
	border: 0;
	cursor: pointer;
	margin-top: 10px;
	font-size: 15px;
}

.footer {
	background: #164d7a;
	padding: 64px 0px;
	text-align: center;
}

.credits {
	color: #d4cee3;
	font-size: 14px;
	margin: 0;
}

/*Responsive*/

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px; /* значение из bootstrap*/
	}
	.topdesk {
		width: 590px;
	}
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.wrapper {
		flex-direction: column;
	}
	.offer {
		width: 100%;
	}
	.intro {
		width: auto;
	}
	.topdesk {
		display: block;
	    width: 641px;
	    margin: 50px auto 0;
	}
	.future {
		flex-direction: column;
	}
	.time {
		width: auto;
		margin-bottom: 30px;
	}
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
	.topdesk{
		width: 100%;
	}
	.input {
		width: 100%;
	}
	.btn {
		margin-left: 0;
	    margin-top: 15px;
	    width: 100%;
	}
}

/* 0px - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
	.form {
		width: 100%;
	}
	.title span {
		font-size: 50px;
	}
}

